<#if package?? && package != "">
package ${package};
</#if>

import com.vaadin.shared.communication.ClientRpc;

public interface ${name} extends ClientRpc {

    // TODO: example API
    public void alert(String message);

}