<#if package?? && package != "">
package ${package};
</#if>

import com.vaadin.server.AbstractExtension;
import ${selected_component_fqn};


public class ${name} extends AbstractExtension {

	public void extend(${selected_component} target) {
        super.extend(target);
    }
}
