<#if package?? && package != "">
package ${package};
</#if>

import com.vaadin.server.AbstractExtension;
import com.vaadin.ui.AbstractComponent;


public class ${name} extends AbstractExtension {

    // TODO: use some specific Vaadin component as a type argument here instead of  AbstractComponent
	public void extend(AbstractComponent target) {
        super.extend(target);
    }
}
