<?xml  version='1.0' encoding='UTF-8'?>

<module>
    <inherits name="com.vaadin.DefaultWidgetSet" />
    <source path="a" excludes="excl" includes="incl" defaultexcludes="no" casesensitive="false"/>
    <source path="b">
	<include name="incl"/>
	<exclude name="excl"/>
    </source>
    <set-configuration-property name="devModeRedirectEnabled" value="true" />
    <set-property name="user.agent" value="safari"/>
    <stylesheet src="styles.css"/>
</module>
